.newsletter-section{

padding:80px 20px;

background:#f1f5f9;

}


.newsletter-container{

max-width:1200px;

margin:auto;

background:
linear-gradient(
135deg,
#0284c7,
#0f766e
);

padding:50px;

border-radius:30px;

display:flex;

justify-content:space-between;

align-items:center;

gap:30px;

color:white;

}



.newsletter-content h2{

font-size:36px;

font-weight:800;

}


.newsletter-content p{

margin-top:15px;

color:#e0f2fe;

}



.newsletter-form{

display:flex;

background:white;

padding:8px;

border-radius:50px;

}



.newsletter-form input{

border:none;

outline:none;

padding:15px 25px;

width:300px;

font-size:16px;

}



.newsletter-form button{

background:#0284c7;

color:white;

border:none;

padding:15px 25px;

border-radius:50px;

display:flex;

align-items:center;

gap:10px;

cursor:pointer;

font-weight:600;

}



@media(max-width:900px){

.newsletter-container{

flex-direction:column;

text-align:center;

}


.newsletter-form input{

width:200px;

}

}



@media(max-width:600px){

.newsletter-form{

width:100%;

}


.newsletter-form input{

width:100%;

}

}