*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:Inter,sans-serif;
background:#f7f8fc;
color:#1e293b;
overflow-x:hidden;
}

a{
text-decoration:none;
color:inherit;
}

img{
width:100%;
display:block;
}

.container{
width:min(90%,1400px);
margin:auto;
}

.section{
padding:100px 0;
}