.search-section{

position:relative;

z-index:20;

margin-top:-80px;

padding:0 20px;

}


.search-box{

max-width:1300px;

margin:auto;

background:white;

border-radius:25px;

padding:25px;

display:grid;

grid-template-columns:
repeat(5,1fr) auto;

gap:20px;

align-items:center;

box-shadow:
0 20px 50px rgba(0,0,0,.15);

}


.search-item{

display:flex;

gap:15px;

align-items:center;

border-right:1px solid #e5e7eb;

padding-right:15px;

}


.search-icon{

font-size:24px;

color:#0ea5e9;

}


.search-item label{

display:block;

font-size:13px;

color:#64748b;

font-weight:600;

}


.search-item p{

margin-top:5px;

font-weight:600;

}


.search-item input{

border:none;

outline:none;

margin-top:5px;

font-weight:600;

}


.search-button{

background:#0ea5e9;

color:white;

border:none;

height:55px;

padding:0 30px;

border-radius:15px;

font-size:17px;

font-weight:600;

display:flex;

align-items:center;

gap:10px;

cursor:pointer;

transition:.3s;

}


.search-button:hover{

background:#0284c7;

transform:translateY(-3px);

}


/* Responsive */

@media(max-width:1100px){

.search-box{

grid-template-columns:repeat(2,1fr);

}


.search-item{

border:none;

}

}


@media(max-width:600px){

.search-box{

grid-template-columns:1fr;

}

}